---
// Astro code
---


<footer class="flex flex-row
							 w-full
							 items-center justify-between
							 px-12 py-2
							 sticky top-0">
	<div class="flex flex items-center justify-center">
		<img
					width="24"
					height="24"
					src="/assets/logo.svg"
					alt="t2badminton logo"
					title="Next-gen shopping with t2badminton" />
				<p class="mx-4 font-semibold">t2badminton - all right reserved.</p>
	</div>

	<nav>
		<ul class="flex flex-row">
			<li><a class="px-4 py-2 text-lg" href="https://t2delivery.com">Shop</a></li>
			<li><a class="px-4 py-2 text-lg" href="/lien-he">Liên hệ</a></li>
		</ul>
	</nav>
</footer>
